AUTH_POSTGRES_USER=user
AUTH_POSTGRES_PASSWORD=pass
AUTH_POSTGRES_DB=authdb
AUTH_DATABASE_DSN=postgres://user:pass@auth-postgres:5432/authdb?sslmode=disable
AUTH_RSA_PRIVATE_KEY_PATH=/app/keys/private.pem

PRODUCT_POSTGRES_USER=user
PRODUCT_POSTGRES_PASSWORD=pass
PRODUCT_POSTGRES_DB=productdb
PRODUCT_DATABASE_DSN=postgres://user:pass@product-postgres:5432/productdb?sslmode=disable

ORDER_POSTGRES_USER=user
ORDER_POSTGRES_PASSWORD=pass
ORDER_POSTGRES_DB=orderdb
ORDER_DATABASE_DSN=postgres://user:pass@order-postgres:5432/orderdb?sslmode=disable

PAYMENT_POSTGRES_USER=user
PAYMENT_POSTGRES_PASSWORD=pass
PAYMENT_POSTGRES_DB=paymentdb
PAYMENT_DATABASE_DSN=postgres://user:pass@payment-postgres:5432/paymentdb?sslmode=disable
